/* Styles the index. */
@import 'tailwindcss';

@theme {
  --color-PrimaryBlue: #005EB8;
}

@layer base {
  :root {
    --PrimaryBlue: 0 94 184;
  }

  html,
  body,
  #root {
    height: 100%;
  }

  body {
    background-color: #f8fafc;
    color: #0f172a;
    font-family: 'Hind', sans-serif;
  }
}
